 :root {
    --cor_de_fundo: #beb8b8;
    --cor_da_fonte: #154658;
}
 * {
   margin: 0;
   padding: 0;

  }
   


  .banner {
    width: 100%;
    height: 65px;
    background-color: var(--cor_de_fundo);
    padding: 5px;
    text-align: center;

  }
  .rodape {
    background-color: var(--cor_de_fundo);
    width: 100%;
    height: 25px;

    

  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:325px;
  
  }


  .smaller-image {
    width: 400px;
    height: 325px;
  }
  .textn1 {
   
    justify-content: center;
    align-items: center;
  }
  
  .title1 {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  
